
    <header class="header">
        <div class="topbar">ENVIO GRATIS A PARTIR DE <strong>$2400</strong></div>
        <div class="header-container layout">
            <span id="btnMenu" class="icon icon-menu"></span>
            <nav class="menu">
                <span class="icon icon-cerrar" id="cerrarMenu"></span>
                <ul>
                    <li>
                        <a href="#">HOME</a>
                    </li>
                    <li>
                        <a href="#">CATALOGO</a>
                    </li>
                    <li class="figure">
                        <a href="/public/home">
                            <img src="/public/images/logo_ehc.png" alt="EHC">
                        </a>
                    </li>
                    <li>
                        <a href="#">CONTACTO</a>
                    </li>
                </ul>
            </nav>
            <figure>
                <a href="/public/home">
                    <img src="/public/images/logo_ehc.png" alt="EHC">
                </a>
            </figure>
            <div class="actions">
                <span id="buscador" class="icon icon-buscar"></span>
                <span id="carrito" class="icon icon-carrito"></span>
                <a id="favoritos" href="/public/favoritos" class="icon icon-favorito"></a>
                <span id="registro" class="icon icon-usuario"></span>
            </div>
        </div>
    </header>
  