
    <footer class="footer">
        <div class="footer-container layout">
            <div class="col">
                <a href="/public/home">
                    <img src="/public/images/logo_blanco.png" alt="EHC">
                </a>
            </div>
            <div class="col">
                <h4>DIRECCIÓN</h4>
                <p>Av. León 202, Jardines del Moral,
                    37160 León, Gto.</p>
            </div>
            <div class="col">
                <h4>CONTACTO</h4>
                <p>Tel. 479 145 1392</p>
                <p>contactocom</p>
            </div>
            <div class="col redes">
                <a href="/public/#" class="icon icon-fb"></a>
                <a href="/public/#" class="icon icon-insta"></a>
            </div>
            <div class="col made">
                <p>HECHO POR:</p>
                <a href="/public/https://www.corvuz.com/" target="_blank">
                    <img src="/public/images/logo_corvuz.png" alt="EHC">
                </a>
            </div>
        </div>
    </footer>
  